body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
}

.container .box{
    width: 20vw;
    text-align: center;
    line-height: 100vh;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    transition: 1s;
}

h1{
    padding: 0;
    margin: 0;
    line-height: 100vh;
    font-size: 2em;
    background: rgba(0,0,0,0.8);
    transition: 0.5s;
}
h1 span{
    background: rgba(255, 255, 255, 0);
    width: 100%;
    transition: 1s;
    color: #fff;
    padding: 20px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box:hover h1 span{
    color: #262626;
    background: rgba(255,255,255,0.8);
    letter-spacing: 10px;
    box-shadow: 0 15px 15px rgba(9, 248, 224, 0.753)
}
.box:hover h1{
    background: rgba(0,0,0,0);
}
.box:hover{
    width: 40vw;
}
.container .box:nth-child(1){
    background: url(1.jpg);
}

.container .box:nth-child(2){
    background: url(2.jpg);
}

.container .box:nth-child(3){
    background: url(3.jpg);
}

.container .box:nth-child(4){
    background: url(4.jpg);
}

.container .box:nth-child(5){
    background: url(5.jpg);
}